<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhijith.music">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".YTMusicActivity"
            android:exported="true"
            android:theme="@style/Theme.CustomViewGroupCollection">
        </activity>
    </application>

</manifest>